// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #143B5D;
$yellow: #FFC65A;
$orange: #F3B88A;
$green: #00AF8A;
$gray: #0E0000;
$light-gray: #F4F4F4;
$greenswap: #00AF8A;
$eggshell: #FDF8EE;
$black: #292929;
$white: #FFFFFF;

