
<%= link_to listing_path(listing) do %>
<%= cl_image_tag listing.photos.first.key, height: 100, width: 100, crop: :fill %>
<h2><%= listing.title %></h2>
<span><%= listing.listing_type %></span>
<% end %>


