<div class="container">
  <div>
    <h1>Available Listings</h1>
  </div>
  <div class="flex-container">
   <% @listings.each do |listing| %>
   <div class="card card-plant" style="width: 18rem;">
    <div class="row justify-content-center">
      <% if !listing.photos.first.nil?%>
      <%= cl_image_tag plant.photos.first.key, height: 200, width: 300, crop: :fill %>
      <% else %>
      <%= image_tag "placeholder.png", alt: "placeholder-img", height: 200, width: 300 %>
      <% end %>
    </div>
   </div>
  </div>
</div>