.odd-message{
// float: right;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
.author {
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  display: grid;
  }
.card-user-avatar{
  height: 100%;
  margin-left: 20px;
  }
}

.even-message{
  display: flex;
  justify-content: space-between;
}
.chatroom-form-cardindex-username{
  flex-grow: 1;
}


.chatroom-username-time-content{
  width: 90%;
}

#chatroom-card{
  margin-left: 100px;
  width: 300px;
  position: sticky;
  top: 20px;
}

.author{
  display: grid;
}

small {
  color: grey;
}

