// Specific CSS for your home-page
.container {
  text-align:center;
}

.body {
  background-color: #FAFAFA;
}

.h2 {
font-weight: 900;
font-size: 48px;
line-height: 56px;

}

#home-page-cards a {
    color: white;
    text-decoration: none;
    background-color: #143B5D;
}
