// Import page-specific CSS files here.
@import "home";

p {
   font-weight: 300;
}

h3 {
    font-size: 1.2rem;
}

.advancedsearch {
    display: grid;
    margin-left: 10px;
}
.filter {
    margin: 20px;
    width: 125px;
    height: 480px;
    border-style: inset;
    border-radius: 5px;
    background-color: #FDF8EE;
}

.flex-container {
    display: flex;
}
#category-name {
    margin-top: 10px;
    margin-bottom: 5px;
}