p {
   font-weight: 300;
}


.advancedsearch {
    display: grid;
    margin-left: 10px;
}
.filter {
    margin: 20px;
    width: 200px;
    height: 500px;
    border-style: inset;
    border-radius: 5px;
}

.flex-container {
    display: flex;
    margin-top: 30px;
}
#category-name {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-weight:bold;
}
