
#map {
  width: 100%;
  height: 300px;
  margin-bottom:50px;
}
.show-function {
  display: flex;
  justify-content: space-between;

}
.show-back{
  margin-bottom: 20px;

}

.show-title {
  margin-right: 40px;
  margin-left: 12px;
}

.show-edit-delete {
  margin-top: 4px;

}

.show-price h5 {
  color: #49b2b4;
  font-size: 16px;
}

.show-zip-code h5 {
  color: #49b2b4;
  font-size: 16px;
}

.show-zip-code h4 {
  color: #49b2b4;
  font-size: 16px;
}

.show-price h4 {
  font-size: 32px;
  color: #49b2b4;
}

.show-price.show-zip-code p {
  font-weight: 400;
}


.show-pic-user{
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}


.show-cards{
  margin-left: 30px;
}


.show-header{
  justify-content: space-between;
}

