p {
   font-weight: 300;
}
.col-form-label {
    font-weight: 600;
}
.form-check-input{ 
    display: grid;
    margin-left: 5px;
}

.form-check {
    display: grid;
    margin-left: 10px;
}
.filter {
    margin: 0 20px 20px 20px;
    width: 220px;
    height: 500px;
    border-radius: 5px;
}

.flex-container {
    display: flex;
    margin-top: 30px;
}
#category-name {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-weight:bold;
}


#cards-index {
  border-left: solid 1px black;
}
