<div class="footer">
  <div class="footer-links">
    <a href="mailto:greenswap@contact.com">Contact</a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> -->
</div>
  <div class="col-8 col-md-6 col-lg-6">
    <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by GreenSwap
    </div>
  </div>
</div>