<!-- BANNER ILLUSTRATION --->
<div class="small-banner">
    <%= image_tag ("small-banner.jpg") %>
    <div class="centered"><h1 style="text-shadow: 1px 1px 3px rgba(23, 2, 2, 0.8);font-weight: 700;"><%= yield(:title) %></h1></div>
</div>
