.banner {
  margin:0 auto;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 26px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


#banner-homepage {
  background: image-url('banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

}

 // height: 100vh;
// TO DO PROPER MEDIA QUERYHow it works
// @media (min-width: 480px) {
//     #banner-homepage { height: 1000px; }
// }

// @media (min-width: 768px) {
//     #banner-homepage { height: 750px; }
// }

// @media (min-width: 992px) {
//     #banner-homepage  { height: 500px; }
// }


.small-banner {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.small-banner img {
  width: 100%;
  height:70px;
  margin:0 auto;
  opacity: 0.4;
}

