.btn {
  padding-right: 12px;
  color:#FAFAFA !important;
  padding-left: 12px;
  background-color:$orange;
  padding: 8px 12px;
  border-radius: 50px;
  font-weight: bold;
}

.nav-button {
  padding-right: 12px;
  color:#FAFAFA !important;
  padding-left: 12px;
  background-color:$orange;
  padding: 8px 12px;
  border-radius: 50px;
  font-weight: medium;
}

.nav-button:hover {
  background-color:$orange;
  transition: opacity 0.3s ease;
  text-decoration:none;
}

.btn-orange {
  padding-right: 12px;
  color:#FAFAFA !important;
  padding-left: 12px;
  background-color:$orange;
  padding: 8px 12px;
  font-weight: bold;
}

.btn-orange:hover {
  background-color:$orange;
  transition: opacity 0.3s ease;
  text-decoration:none;
}


.btn-orange a {
  color:#FAFAFA;
  text-decoration:none;
}

.btn-orange-card {
  padding-right: 12px;
  color:#FAFAFA !important;
  padding-left: 12px;
  background-color:$orange;
  padding: 8px 20px;
  font-weight: bold;
  width: 100%;
  display: block;
}


