// BASIC BUTTON STYLE //
.btn {
  color:#FAFAFA !important;
  background-color:$orange;
  padding: 8px 12px;
  font-weight: medium;
  border-radius: 12px;

}

// NAVBAR BUTTON WITH BORDER RADIUS //
.nav-btn {
  border-radius: 50px;
  font-weight: medium;
  color: white;
}

.nav-btn:hover {
  background-color:#F4A261;
  transition: opacity 0.3s ease;
  text-decoration:none;
  color:white;
}

// ALL BUTTONS //

.btn-orange {
  color:#FAFAFA !important;
  background-color:$orange!important;
  padding: 8px 12px!important;
  font-weight: medium;
}

.btn-orange:hover {
  background-color:$orange;
  transition: opacity 0.3s ease;
  text-decoration:none;
}


.btn-orange a {
  color:#FAFAFA;
  text-decoration:none;
}

// CARD BUTTONS //
.btn-orange-card {
  color:#FAFAFA !important;
  background-color:$orange;
  padding: 16px;
  font-weight: bold;
  width: 100%;
  display: block;
}


// Filter BUTTONS //
.btn-orange-filter1 {
  padding-right: 5px !important;
  color:#FAFAFA !important;
  padding-left: 5px!important;
  background-color:$orange!important;
  font-weight: bold!important;
  width: 70px!important;
  display: block!important;
  font-size: small!important;
  border-style: outset!important;
  border-color: white!important;
  margin-left: 7px!important;
}
.btn-orange-filter2 {
  padding-right: 5px;
  color:#FAFAFA !important;
  padding-left: 5px;
  padding-top:1px;
  background-color:$orange;
  font-weight: bold;
  width: 70px;
  display: block;
  font-size: 14px;
  border-style: outset;
  border-color: white;
  align-items: flex-start;
  text-align: center;
  border-width: 2px;
}

.btn-orange-submit {
  padding-right: 5px;
  color:#FAFAFA !important;
  padding-left: 5px;
  background-color:$orange;
  font-weight: bold;
  width: 80px;
  display: block;
  font-size: small;
  border-style: outset;
  border-color: white;
  align-items: flex-start;
  text-align: center;
  border-width: 2px;
}



