// CARDS CONTAINER //
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

// CARDS BASIC STYLE //

.card {
  background-color:$white;
  width: 302px;
  border-radius: 12px;
  box-shadow: 0px 5px 27px -11px rgba(0,0,0,0.35);
  text-align: center;
  border: 1px solid rgb(230,230,230);
  overflow: hidden;
}

// CARD FOR HOME PAGE //
.card-homepage {
   justify-content:space-between;
   margin:30px;

  img {
    width: 150px;
    text-align:center;
    margin: 12px auto;
  }
  p {
    opacity: .5;
    color:$gray;
  }
}



// CARD LISTING FOR INDEX //

.card-index {
  margin: 11px;

  .card-index-img {
    margin:0;
    width:100%;
    object-fit:cover;
    height:170px;
  }
  .card-index-details {
    text-align: left;
    padding: 16px;

    &-title {
     margin-bottom: 0px;
     font-size: 21px;
     font-weight: 500;
     color:black;
    }

    &-description {
     margin:0;
     color:#CDCACA;


    }
  }
  .card-index-infos {
    &-item {
      margin-bottom: 0;
      border-top: 1px solid lightgray;
      color: black;
      padding: 8px 16px;
      text-align: left;
      font-size: 14px;
    }

    &-category {
      font-size: 12px;
      font-weight: 500;
      color: gray;
      margin-right: 8px;
    }
  }
}


a:-webkit-any-link {
    text-decoration: none;
}


// CARD FOR SHOW //

.card-user {
  margin: 12px;
  position:relative;

   .card-user-avatar img {
     border-radius:10px;
     display: block;
     height:100px;
     width:100px;
    margin-left: 15px;

   }
 }

 .card-user-description{
   margin: 20px;
    text-align: left;
 }

.card-user-username {
  text-align: initial;
  h6 {
    margin-left: 20px;
    margin-top: 10px;
  }
}



.price-zipcode{
    display: flex;
    justify-content: space-between;
    width: 22%;
}


