.card-horizontal {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom:10px;

}

.card-horizontal img {
  height: 100%;
  width: 120px;
  margin:0 8px;
  object-fit: cover;
}

.card-horizontal h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-horizontal p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-right: 30px;

}

.card-horizontal .card-horizontal-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.card-btns a {
  display:flex;
  margin-bottom:4px;
  text-align:center;
}


// CARDS CHATROOM //
.card-horizontal-chatroom img {
  height: 96px;
  width: 120px;
  margin:0 8px;
  object-fit: cover;
}

.card-horizontal-chatroom {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom:10px;

}


.card-horizontal-chatroom h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-horizontal-chatroom p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-right: 30px;

}

.card-horizontal-chatroom .card-horizontal-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

