// CARD FOR HOME PAGE //

.card img {
  width: 150px;
  margin: 0 auto;
  text-align:center;
}

.card p {
  opacity: .5;
}

.card {
  background-color:#FDF8EE ;
  width: 300px;
  border-radius: 3px;
  -webkit-box-shadow: 9px 9px 7px 0px rgba(41,41,41,0.39);
  -moz-box-shadow: 9px 9px 7px 0px rgba(41,41,41,0.39);
  box-shadow: 9px 9px 7px 0px rgba(41,41,41,0.39);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.show-header{
  display: flex;
  justify-content: space-between;
}

#show-card.card{
  text-align: left;
}
