// CARDS CONTAINER //
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

// CARDS BASIC STYLE //

.card {
  background-color:$white;
  width: 302px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 27px -11px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 5px 27px -11px rgba(0,0,0,0.35);
  box-shadow: 0px 5px 27px -11px rgba(0,0,0,0.35);
  text-align: center;
  padding: 5px;
  border: 1px solid rgb(230,230,230);
}

.card img {
  text-align:center;
  margin:0 auto;
}

// CARD FOR HOME PAGE //

#card-homepage img {
  width: 150px;
  margin: 0 auto;
  text-align:center;
}

#card-homepage p {
  opacity: .5;
}

// CARD FOR SHOW //


.show-header{
  justify-content: space-between;
}

#show-card.card{
  text-align: left;
}


.price-zipcode{
    display: flex;
    justify-content: space-between;
    width: 22%;
}

.show-function {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.show-back{
  margin-left: 10px;
}

// CARD FOR PROFILE //

// .card-btns {
//   display: flex;
//   justify-content: space-between;
//   margin: auto;
//   width: 50%;
// }

.profile-title-des{
  width: 90%;
}
// CARD LISTING FOR INDEX //

.card-listing {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
  margin: 5px;
  width: 90%;
  padding: 10px;
  text-align: center;
  padding-top: 0;
  flex: 0 1 24%;
}

.card-listing > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.card-listing h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.card-listing p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-listing .card-listing-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-listing-infos .card-listing-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

#index-card {
  width:290px;
  height:290px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;

}

#index-card p {
 margin-bottom:0;
 text-align:left;
 margin-left: 15px;
 margin-right: 15px;

}

#index-card img {
  width: 275px;

}

a:-webkit-any-link {
    text-decoration: none;
}

