.navbar-lewagon {
  justify-content: space-between;
  background: $green;
  top: 0;
  height: 70px;
  width: 100%;
  padding: 5px 30px;
  align-items: center;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-link{
  color: white !important;
}

.fixed-top{
position: sticky;
}

.avatar {
  width: 40px!important;
  border-radius: 50%!important;
  cursor: pointer;
}

